{% extends 'base.html.twig' %}

{% block title %}Liste des telechargements{% endblock %}

{% block body %}
    <h1> Liste des téléchargements </h1>

    {% if not listeTelechargements is empty %}
         {{ form_start(form)}} 
        <table class="table">

            <tr>
                <th>Utilisateur (qui a téléchargé)</th>
                <th>Utilisateur (propriétaire)</th>
                <th>Nom du fichier</th>
                <th>Nom original du fichier</th>
                <th>Nombre de téléchargements</th>

         
                    {% for key,value in listeTelechargements %}
            </tr>
            <tr>

              {% if value.user.nom is not null %}
                <td>{{ value.user.nom }} / ({{ value.user.username }})</td>
                {% else %}
                    <td>Pas de nom attribué / ({{ value.user.username }}) </td>
                {% endif %}
                <td>{{ value.fichier.user.username }}</td>
                <td>{{ value.fichier.nom}}</td>
                <td>{{ value.fichier.nomoriginal}}</td>
                <td>{{ value.nb }}</td>
                
            </tr>
                    {% endfor %}
        </table>
        
         <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{ form_widget(form.save) }}
        </div>
    </div>
        {{ form_end(form)}}
    {% else %}
        Aucun telechargement à afficher
    {% endif %}
{% endblock %}
