{% extends 'base.html.twig' %}

{% block title %}{% trans %}Liste des téléchargements{% endtrans %} {% endblock %}

{% block body %}
    <h1>{% trans %}Liste des téléchargements{% endtrans %} </h1>

    {% if not listeTelechargements is empty %}
        {{ form_start(form)}} 
        <table id='table' data-order='[[ 0, "asc" ]]' data-page-length='10' class="display">
            <thead>
                <tr>
                    <th>{% trans %}Utilisateur{% endtrans %}</th>
                    <th>{% trans %}Propriétaire{% endtrans %}</th>
                    <th>{% trans %}Nom du fichier{% endtrans %}</th>
                    <th>{% trans %}Nom original du fichier{% endtrans %}</th>
                    <th>{% trans %}Nombre de téléchargements{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in listeTelechargements %}

                    <tr>

                        {% if value.user.nom is not null %}
                            <td>{{ value.user.nom }} / ({{ value.user.username }})</td>
                        {% else %}
                            <td>{% trans %}Pas de nom attribué{% endtrans %} / ({{ value.user.username }}) </td>
                        {% endif %}
                        <td>{{ value.fichier.user.username }}</td>
                        <td>{{ value.fichier.nom}}</td>
                        <td>{{ value.fichier.nomoriginal}}</td>
                        <td>{{ value.nb }}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
                {{ form_widget(form.save,{'attr':{'class':'btn btn-light float-right'}}) }}

        {{ form_end(form)}}
    {% else %}
       {% trans %}Aucun telechargement à afficher{% endtrans %}
    {% endif %}
{% endblock %}
