{% extends 'base.html.twig' %}

{% block title %}{% trans %}Liste des utilisateurs{%endtrans%}{% endblock %}

{% block body %}
    <h1 class="mb-5">{% trans %}Liste des utilisateurs{%endtrans%} </h1>
    {% if not listeUtilisateurs is empty %}
        {{ form_start(form)}} 
        <table style="width:100%" id='table' data-order='[[ 0, "asc" ]]' data-page-length='10' class="display">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans %}Utilisateur{% endtrans %}</th>
                    <th>{% trans %}Nom{% endtrans %}</th>
                    <th>{% trans %}Prénom{% endtrans %}</th>
                    <th>{% trans %}Date de naissance{% endtrans %}</th>
                    <th>{% trans %}Date d'inscription{% endtrans %}</th>
                    <th>{% trans %}Filière{% endtrans %}</th>
                    <th>{% trans %}Rôle{% endtrans %}</td>
                    <th>{% trans %}Modifier{% endtrans %}</th>
                    <th>{% trans %}Supprimer{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>

                {% for key,value in listeUtilisateurs %}
                    <tr>
                        <td>{{ value.id }}</td>
                        <td>{{ value.username }}</td>
                        <td>{{ value.nom }}</td>
                        <td>{{ value.prenom }}</td>
                        <td>{{ value.datenaissance|localizeddate('medium', 'none',app.request.locale) }}</td>
                        <td>{{ value.dateinscription|localizeddate('medium', 'none',app.request.locale) }}</td>
                        <td>{{ value.filiere.nom }}</td>
                        <td>
                            {% if value.roles|first == "ROLE_ADMIN" %}
                                Administrateur
                            {% else %}
                                Utilisateur
                            {% endif %}

                        </td>
                        <td><a href="{{ path('utilisateur_modifier',{'id':value.id})}}" >{% trans %}Modifier{% endtrans %}</a></td>
                        <td><input type="checkbox" name="cocher[]" value="{{ value.id }}"/></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        {{ form_widget(form.save,{'attr':{'class':'btn btn-light float-right'}}) }}

        {{ form_end(form)}} 
    {% else %}
        Aucun utilisateur à afficher
    {% endif %}

{% endblock body  %}
