{% extends 'base.html.twig' %}

{% block title %}{% trans %}Mon Compte{% endtrans %}{% endblock %}

{% block body %}

    <h1 class="mb-3">{% trans %}Votre Compte{% endtrans %}</h1>
          
        <img src="{{ asset('images/img_profile_default.png') }}" alt="..." class="img-thumbnail mb-3">
        <p>Filière : {{ app.user.filiere.nom }}</p>
        <p>Département : {{ app.user.filiere.departement.nom }}</p>

            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="input-group mb-3">   
                <div class="input-group-prepend">
                    {{ form_label(form.username, 'Pseudo', {'label_attr': {'class': 'input-group-text'}}) }}
                </div>
                {{ form_errors(form.username) }}
                {{ form_widget(form.username,{'attr':{'class':'form-control'}}) }}
                {{ form_help(form.username) }}
            </div>
            <div class="input-group mb-3">   
                <div class="input-group-prepend">
                    {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'input-group-text'}}) }}
                </div>
                {{ form_errors(form.nom) }}
                {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
                {{ form_help(form.nom) }}
            </div>


            <div class="input-group mb-3">   
                <div class="input-group-prepend">
                    {{ form_label(form.prenom, 'Prénom', {'label_attr': {'class': 'input-group-text'}}) }}
                </div>
                {{ form_errors(form.prenom) }}
                {{ form_widget(form.prenom,{'attr':{'class':'form-control'}}) }}
                {{ form_help(form.prenom) }}
            </div>


            <div class="input-group mb-3">   
                <div class="input-group-prepend">
                    {{ form_label(form.datenaissance, 'Date de naissance', {'label_attr': {'class': 'input-group-text'}}) }}
                </div>
                {{ form_errors(form.datenaissance) }}
                {{ form_widget(form.datenaissance,{'attr':{'class':'form-control'}}) }}
                {{ form_help(form.datenaissance) }}
            </div>


            <div class="input-group mb-3">   
                <div class="input-group-prepend">
                    {{ form_label(form.dateinscription, 'Date d\'inscription', {'label_attr': {'class': 'input-group-text'}}) }}
                </div>
                {{ form_errors(form.dateinscription) }}
                {{ form_widget(form.dateinscription,{'attr':{'class':'form-control'}}) }}
                {{ form_help(form.dateinscription) }}
            </div>




            {{ form_widget(form.save,{'attr':{ 'class':'btn btn-secondary float-right'}}) }}


            {{ form_end(form) }}



            {% if app.user.nom is null or app.user.prenom is null or app.user.datenaissance is null %}

                <p> Veuillez compléter votre profil :
                    {% if app.user.nom is null %}Nom{% endif %}
                    {% if app.user.prenom is null %}Prénom{% endif %}
                    {% if app.user.datenaissance is null %}Date de naissance{% endif %}</P>
                {% endif %}

        {% endblock %}
