{% extends 'base.html.twig' %}

{% block title %}{% trans %}Liste des fichiers{%endtrans%}{% endblock %}

{% block body %}
    <h1 class="mb-5"> {% trans %}Liste des fichiers{%endtrans%} </h1>

    {% if not listeFichiers is empty %}
        {{ form_start(form)}} 
        <table id='table' data-order='[[ 0, "asc" ]]' data-page-length='10' class="display">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans %}Utilisateur{%endtrans%}</th>
                    <th>{% trans %}Thème{%endtrans%}</th>
                    <th>{% trans %}Nom{%endtrans%}</th>
                    <th>{% trans %}Nom Originel{%endtrans%}</th>
                    <th>{% trans %}Date{%endtrans%}</th>
                    <th>{% trans %}Extension{%endtrans%}</th>
                    <th>{% trans %}Taille{%endtrans%}</th>
                    <th><i class="fas fa-edit"></i></th>
                    <th><i class="fas fa-trash-alt"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in listeFichiers %}
                    <tr>
                        <td>{{ value.user.id }}</td>
                        {% if value.user.nom is not null %}
                            <td>{{ value.user.nom }}</td>
                        {% else %}
                            <td>Pas de nom attribué</td>
                        {% endif %}
                        <td>
                            {% for key,value in value.themes %}
                                {% if loop.last ==  false%}
                                    {{ value.libelle }} /
                                {% else %}
                                    {{ value.libelle }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td><a href="{{ path('download',{'id':value.id}) }}">{{ value.nom }}</a></td>
                        <td>{{ value.nomoriginal }}</td>
                        <td>{{ value.date|date("d-m-Y") }}</td>
                        <td>{{ value.extension }}</td>
                        <td>{{ value.taille }}</td>               
                        <td><a href="{{ path('fichier_modifier',{'id':value.id})}}">{% trans %}Modifier{% endtrans %}</a></td>
                        <td><input type="checkbox" name="cocher[]"value="{{ value.id }}"/></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
     
 
                {{ form_widget(form.save) }}

        {{ form_end(form)}}
    {% else %}
        Aucun fichier à afficher
    {% endif %}
{% endblock %}
