{% extends 'base.html.twig' %}

{% block title %}{% trans %}Liste de mes fichiers{%endtrans%}{% endblock %}

{% block body %}
    <h1 class="mb-5"> {% trans %}Liste de mes fichiers {% endtrans %}</h1>

    {% if not listeFichiers is empty %}
        {{ form_start(form)}} 
        <table id='table' data-order='[[ 3, "desc" ]]' data-page-length='10' class="display">
            <thead>
                <tr>
                    <th>{% trans %}Nom{% endtrans %}</th>
                    <th>{% trans %}Nom Original{% endtrans %}</th>
                    <th>{% trans %}Thème{% endtrans %}</th>
                    <th>{% trans %}Date{% endtrans %}</th>
                    <th>{% trans %}Extension{% endtrans %}</th>
                    <th>{% trans %}Taille{% endtrans %}</th>
                    <th>{% trans %}Modifier{% endtrans %}</th>
                    <th>{% trans %}Supprimer{% endtrans %}</th>

                </tr>
            </thead>
            <tbody>
                {% for key,value in listeFichiers %}

                    <tr>
                        <td><a href="{{ path('download',{'id':value.id}) }}">{{ value.nom }}</a></td>
                        <td>{{ value.nomoriginal }}</td>
                        <td>{% for key,value in value.themes %}
                            {% if loop.last ==  false%}

                                {{ value.libelle }} /

                            {% else %}

                                {{ value.libelle }}

                            {% endif %}
                        {% endfor %}</td>
                    <td>{{ value.date|date("d-m-Y à H:i:s") }}</td>
                    <td>{{ value.extension }}</td>
                    <td>{{ value.taille }}</td>               
                    <td><a href="{{ path('fichier_modifier',{'id':value.id})}}">{% trans %}Modifier{% endtrans %}</td>
                    <td><input type="checkbox" name="cocher[]"value="{{ value.id }}"/></td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ form_widget(form.save,{'attr':{'class':'btn btn-light float-right'}}) }}




            {{ form_end(form)}}
            {% else %}
                {% trans %}Aucun fichier à afficher{% endtrans %}
                {% endif %}


                    {% endblock %}
