{% extends 'base.html.twig' %}

{% block title %}Ajout thème{% endblock %}

{% block body %}
    <h1 class="mb-5">Ajouter un thème</h1>
    
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="input-group mb-3">   
        <div class="input-group-prepend">
            {{ form_label(form.libelle, 'Libelle:', {'label_attr': {'class': 'input-group-text'}}) }}
        </div>
        {{ form_errors(form.libelle) }}
        {{ form_widget(form.libelle,{'attr':{'class':'form-control'}}) }}
        {{ form_help(form.libelle) }}
    </div>



    {{ form_widget(form.save,{'attr':{ 'class':'btn btn-secondary float-right'}}) }}


    {{ form_end(form) }}
{% endblock %}
