{% extends 'base.html.twig' %}

{% block title %}{% trans %}Liste des thèmes{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="mb-5">{% trans %}Liste des thèmes{% endtrans %} </h1>

    {% if not listeThemes is empty %}
        {{ form_start(form)}} 
        <table id='table' data-order='[[ 0, "asc" ]]' data-page-length='10' class="display">
            <thead>
                <tr>
                    <th>{% trans %}Libelle{% endtrans %}</th>
                    <th>{% trans %}Modifier{% endtrans %}</th>
                    <th>{% trans %}Supprimer{% endtrans %}</th>
                </tr>
            </thead
            <tbody>
                {% for key,value in listeThemes %}
                    <tr>
                        <td><a href="">{{ value.libelle }}</a></td>
                        <td><a href="{{ path('theme_modifier',{'id':value.id})}}">{% trans %}Modifier{% endtrans %}</td>
                        <td><input type="checkbox" name="cocher[]"value="{{ value.id }}"/></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


                {{ form_widget(form.save,{'attr':{'class':'btn btn-light float-right'}}) }}

        {{ form_end(form)}}
    {% else %}
        {% trans %}Aucun thème à afficher{% endtrans %}
    {% endif %}
{% endblock %}
